<nav class="navbar navbar-default navbar-fixed-top nagivation" role="navigation">
  <div id='nav-bar'>
    <ul class="nav navbar-nav">
      <% if user_signed_in? %>
        <li>
          <%= link_to 'Hipstagram', root_path, {:class => 'navbar-brand'} %>
        </li>
        <li>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
        </li>
      <% else %>
        <li>
          <%= link_to('Login', new_user_session_path)  %>  
        </li>
      <% end %>
      <% if user_signed_in? %>
        <li>
          <%= link_to('Edit registration', edit_user_registration_path) %>
        </li>
      <% else %>
        <li>
          <%= link_to('Register', new_user_registration_path)  %>
        </li>
      <% end %>
      <li>
        <%= link_to 'Add photo', new_post_path, { :style => "color:green" } %>
      </li>
    </ul>
    <div class="form-group">
      <%= form_tag search_posts_path, role: 'search', class: 'navbar-form navbar-left', method: :get do %>
          <%= text_field_tag :query, nil, id: 'search' %>
          <%= submit_tag 'Search' %>
      <% end %>
    </div>
  </div>
</nav>