<% if @posts.none? %>
  No photos!
  <% end %>

<div class='row'>
  <% @posts.each do |post| %>
    <div class='col-md-6'>
      <div class='row'>
        <div class='col-md-10'>
            <h2><%= link_to post.title, post %></h2>
        </div>
        <div class='col-md-2'>
          <%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: "Are you sure?" } %>
         </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          <p>
            <%= post.content %>
          </p>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          <%= image_tag post.image.url(:thumb), class: 'instagram-upload' %>
        </div>
      </div>
      <div class='row tags'>
        <div class='col-md-6'>
          <% post.tags.each do |tag| %>
            <%= tag %>
            <% end %>
        </div>
      </div>
      <div class='row edit-links'>
        <div class='col-md-6'>
          <%= link_to 'Edit', edit_post_path(post) %>
          <%= link_to 'Comment', new_post_comment_path(post) %>
        </div>
      </div>
    </div>
  <% end %>
</div>