<% if @posts.none? %>
  No photos!
  <% end %>

<div class='row post'>
  <% @posts.each do |post| %>
    <div class='col-md-6'>

      <div class='row'>
        <div class='col-md-10'>
            <h2><%= link_to post.title, post %></h2>
        </div>
        <div class='col-md-2 delete'>
          <span class='delete-link'>
            <%= link_to '✖', post_path(post), method: :delete, data: { confirm: "Are you sure?" } %>
          </span>
         </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          <p>
            <%= post.content %>
          </p>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          <%= image_tag post.image.url(:thumb), class: 'instagram-upload' %>
        </div>
      </div>
      <div class='row tags'>
        <div class='col-md-6'>
          <% post.tags.each do |tag| %>
            <%= link_to tag, tag_posts_path(tag) %>
            <% end %>
        </div>
        <div class='col-md-6 favourite'>
          <span class='heart'>♡</span>
        </div>
      </div>
      <div class='row admin-box'>
        <div class='col-md-6'>
          <span class='admin edit-links'>
            <%= link_to 'Edit', edit_post_path(post) %>
            <%= link_to 'Add comment', new_post_comment_path(post) %>
            <%= link_to 'Add tag', edit_post_path(post) %>
          </span>
        </div>
      </div>
    </div>
  <% end %>
</div>