<%= form_for @post, html: { multipart: true } do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <br />
  <hr>

  <%= f.label :content %>
  <%= f.text_area :content %>

  <br />
  <hr>

  <%= f.label :image %>
  <%= f.file_field :image %>

  <br />
  <hr>
  <p>Please enter tags separated by comma:</p>
  <%= f.label :tag_names, for: 'tag-input' %>
  <%= f.text_area :tag_names, id: 'tag-input' %>

  <br />
  <hr>

  <%= f.submit %>
<% end %>